@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
  --Very-light-gray: hsl(0, 0%, 95%); /*  (background, headings, buttons) */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: var(--Very-light-gray);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.main_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 950px;
  min-width: 325px;
}

.card_content {
  padding: 50px 45px;
  margin: 0;
}

.card_content:first-child {
  background-color: var(--Bright-orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card_content:first-child button {
  color: var(--Bright-orange);
}

.card_content:nth-child(2) {
  background-color: var(--Dark-cyan);
}

.card_content:nth-child(2) button {
  color: var(--Dark-cyan);
}

.card_content:last-child {
  background-color: var(--Very-dark-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card_content:last-child button {
  color: var(--Very-dark-cyan);
}

.card_content h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  color: var(--Very-light-gray);
  font-weight: 700;
  text-transform: uppercase;
}

.card_content p {
  color: var(--Transparent-white);
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.75;
  margin: 20px 0 40px 0;
}

.card_content button {
  text-transform: capitalize;
  margin-top: 50px;
  width: 150px;
  border: none;
  border-radius: 40px;
  height: 50px;
  font-size: 15px;
  background-color: var(--Very-light-gray);
  cursor: pointer;
  font-weight: 700;
}

.card_content button:hover {
  background-color: var(--Transparent-white);
  transition: all 0.5s ease-in-out;
}

@media screen and (width <= 876px) {
  .main_card {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .card_content:first-child {
    border-radius: 10px 10px 0 0;
  }

  .card_content:nth-child(2) {
    border-radius: 0;
  }

  .card_content:last-child {
    border-radius: 0 0 10px 10px;
  }
}
